//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('Montserrat-Medium', 'Montserrat', 'Montserrat-Medium',  normal, normal)
webfont('Montserrat-SemiBold', 'Montserrat', 'Montserrat-SemiBold',  normal, normal)
webfont('Montserrat-Bold', 'Montserrat', 'Montserrat-Bold',  normal, normal)

