{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">
				<div class="container">
					<div class="promo-block">
						<div class="promo-block__content">
							<div class="city">
								<span class="city__ic"></span>
								<span>EN TIJUANA</span>
							</div>

							<h1 class="title"><i>CURSO RICARDO KERN</i> <span class="accent-color">TEJIDO</span> BLANDO<br>Y AUMENTO OSEO</h1>

							<div class="form__wrapper shadow-block">
								<form class="form">
									<!-- Hidden inputs -->
									<input type="hidden" name="project_name" value="Curso Ricardo Kern">
									<input type="hidden" name="admin_email" value="email@email">
									<!-- // Hidden inputs -->

									<div class="form__row row row-nowrap">
										<div class="form-groups col-w-66">
											<div class="form-group">
												<input type="text" placeholder="Nombre" name="name" class="form-input js-required-input">
											</div>
											<div class="form-group">
												<input type="tel" placeholder="Teléfono" name="tel" class="form-input js-required-input">
											</div>
										</div>
										<div class="form-submit col-w-33">
											<button type="submit" class="btn">Enviar</button>
										</div>
									</div>
								</form>
							</div>

							<div class="course-info">
								<div class="course-info__item">
									<p class="course-info__item--label">La fecha del:</p>
									<p class="course-info__item--value">10 Diciembre</p>
								</div>

								<div class="course-info__item">
									<p class="course-info__item--label">Nombre del lugar:</p>
									<p class="course-info__item--value">Nombre del lugar</p>
								</div>
							</div>
						</div>
						<div class="promo-block__imgs">

							<div>
								<img src="img/promo/1.png" alt="" class="promo-block__imgs-img shadow-block">
								<img src="img/promo/2.png" alt="" class="promo-block__imgs-img shadow-block">
								<img src="img/promo/3.png" alt="" class="promo-block__imgs-img shadow-block">
							</div>

							<div class="promo-block__imgs-main">
								<img src="img/main.png" alt="">
							</div>

							<div>
								<span class="decor-square"></span>
								<span class="decor-square"></span>
								<span class="decor-square"></span>
							</div>

							
							
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //promo -->

			<section class="sect__speaker">
				<div class="container">
					<div class="speaker">
						<div class="row align-horisontal-betwee align-vertical-start speaker__row row-nowrap">
							<div class="speaker-information">
								<h2 class="sect-uptitle">Vocero</h2>
								<h3 class="sect-title">RICARDO KERN</h3>

								<ul class="speaker-information__list">
									<li>Firmemente arraigado en las altas exigencias estéticas de la odontología brasileña, el Dr. Ricardo Kern ha centrado su trabajo en las exigentes disciplinas de diseño y reconstrucción de tejido blando.</li>
									<li>Cuenta con amplia experiencia en colocación de implantes con temporización y rehabilitación de un solo diente hasta arco completo. </li>
									<li>Ha sido invitado a dar conferencias sobre tejido blando (diseño, preservación y reconstrucción) en varios cursos de posgrado y congresos tanto en Latinoamérica como Europa.</li>
									<li>Graduado de la Universidade Federale do Paraná, Brasil</li>
									<li>Posgrado en Odontología Implantar por la Asociación Dental de Brasil (ADO)</li>
									<li>Periodoncia (540 horas) por la Asociación Dental de Brasil (ADO)</li>
								</ul>
							</div>
							<div class="speaker-photos">
								<div class="speaker-photo">
									<img src="img/img.png" alt="">
								</div>
								<div class="speaker-photo">
									<img src="img/img.png" alt="">
								</div>
								<div class="speaker-photo">
									<img src="img/img.png" alt="">
								</div>
							</div>
						</div>
					</div>

					<div class="speaker-form">

						<div class="speaker-form__content">
							<h3 class="speaker-form__title"><span class="accent-color">¿Quieres</span> aprovechar toda la experiencia adquirida por el médico Rikardo Kern?</h3>
							<p class="speaker-form__text">Deja tus contactos y te <br>contactaremos a la brevedad</p>

							<div class="form__wrapper shadow-block">
								<form class="form">
									<!-- Hidden inputs -->
									<input type="hidden" name="project_name" value="Curso Ricardo Kern">
									<input type="hidden" name="admin_email" value="email@email">
									<!-- // Hidden inputs -->

									<div class="form__row row row-nowrap">
										<div class="form-groups col-w-75">
											<div class="form-group">
												<input type="text" placeholder="Nombre" name="name" class="form-input js-required-input">
											</div>
											<div class="form-group">
												<input type="tel" placeholder="Teléfono" name="tel" class="form-input js-required-input">
											</div>
											<div class="form-group">
												<input type="email" placeholder="e-mail" name="email" class="form-input">
											</div>
										</div>
										<div class="form-submit col-w-25">
											<button type="submit" class="btn">Enviar</button>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="speaker-form__imgs">
							<div class="speaker-form__imgs-main">
								<img src="img/illustration.svg" alt="">
							</div>

							<div>
								<span class="decor-square decor-square-lg"></span>
								<span class="decor-square decor-square-md"></span>
								<span class="decor-square"></span>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->

				
			</section>
			<!-- //sect speaker -->

			<section class="sect__portfolio">
				<div class="container">
					<h2 class="left-gutter sect-title"><span class="accent-color">Ejemplos</span> del trabajo<br> del hablante</h2>

					<div class="portfolio-slider__wrapper">
						<div class="portfolio-slider">

							<div class="portfolio-slider__thumbnails">
								<div class="js-portfolio-thumbnails">

									<div class="portfolio-thumbnail bg" style="background-image: url('img/portfolio/1.png');"></div>

									<div class="portfolio-thumbnail bg" style="background-image: url('img/portfolio/1.png');"></div>

									<div class="portfolio-thumbnail bg" style="background-image: url('img/portfolio/1.png');"></div>

									<div class="portfolio-thumbnail bg" style="background-image: url('img/portfolio/1.png');"></div>

								</div>
							</div>
							<!-- //slider thumbs -->

							<div class="portfolio-slider__main">
								<div class="js-portfolio-slider">

									<a href="img/portfolio/1.png" class="portfolio-slide thumbnail" data-fancybox="portfolio">
										<img src="img/portfolio/1.png" alt="">
									</a>

									<!-- //slide -->


									<a href="img/portfolio/1.png" class="portfolio-slide thumbnail" data-fancybox="portfolio">
										<img src="img/portfolio/1.png" alt="">
									</a>

									<!-- //slide -->


									<a href="img/portfolio/1.png" class="portfolio-slide thumbnail" data-fancybox="portfolio">
										<img src="img/portfolio/1.png" alt="">
									</a>

									<!-- //slide -->


									<a href="img/portfolio/1.png" class="portfolio-slide thumbnail" data-fancybox="portfolio">
										<img src="img/portfolio/1.png" alt="">
									</a>

									<!-- //slide -->

								</div>
							</div>
							<!-- //slider main -->
						</div>

						<div class="portfolio-slider__navigation left-gutter">
							<div class="portfolio-slider__navigation--btns">
								<button class="portfolio-slider__navigation--btn js-portfolio-slider-btn-prev" type="button">
									<svg  viewBox="0 0 20 12"  xmlns="http://www.w3.org/2000/svg">
										<path d="M1.22021 5.53H19.0002"/>
										<path d="M6.25 0.5L0.5 5.53" />
										<path d="M0.5 5.53L6.25 10.56" />
									</svg>

								</button>
								<button class="portfolio-slider__navigation--btn js-portfolio-slider-btn-next" type="button">
									<svg  viewBox="0 0 20 12"  xmlns="http://www.w3.org/2000/svg">
										<path d="M18.28 5.53H0.5" />
										<path d="M13.25 10.56L19 5.53" />
										<path d="M19 5.53L13.25 0.5" />
									</svg>
								</button>
							</div>
							<span class="portfolio-slider__navigation--divider"></span>
							<span class="portfolio-slider__navigation--text">Haga clic en el botón para ver más obras</span>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //sect portfolio -->

				<section class="sect__program gutter-bottom">
					<h2 class="text-center container sect-title">Programa</h2>

					<div class="container">
						<div class="program">

							

							<div class="program-steps">
								<div class="program-step shadow-block js-program-step-1">

									<div class="program-step__count"><span>01</span>Día</div>

									<div class="program-progress">
										<span class="program-progress__line step-1"></span>
									</div>

									<div class="program-step__wrapper ">
										<div class="program-step__content">
											<h3 class="program-step__title">Course Introduction:</h3>

											<ul class="program-step__list">
												<li>The pink and white aesthetic balance philosophy</li>
												<li>Concepts for digital planning of aesthetic rehabilitation <br>Perfect team communication tools - From surgery to laboratory</li>
												<li>
													Crown Lengthening
													<ul>
														<li>Influence of tissue design</li>
														<li>Factors that affect precision</li>
														<li>Factors that affect short term predictability and long term stability</li>
													</ul>
												</li>
												<li>Crown Lengthening conjugated with aesthetic restorative procedures</li>
												<li>Managing Muscular lips Position <br>Hands ON: Digital Planning</li>
												<li>Full maxilla implant, Soft tissue graft, temporization and conditioning cases<br> Planning, grafting and conditioning aesthetic large cases</li>
												<li>Partial conjugated cases <br>Building partial and single implant sites on aesthetic zone</li>
												<li>Factors of influence for treatment for black spaces</li>
											</ul>
										</div>
										<div class="program-step__gallery">
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- //step -->

								<div class="program-step shadow-block js-program-step-2">

									<div class="program-step__count"><span>02</span>Día</div>

									<div class="program-progress">
										<span class="program-progress__line step-2"></span>
									</div>

									<div class="program-step__wrapper">
										<div class="program-step__content">
											<h3 class="program-step__title">(Hands-On) Tips for mastering:</h3>

											<ul class="program-step__list">
												<li>Harvesting muco gingival grafts</li>
												<li>Flap Design</li>
												<li>Tunneling</li>
												<li>Connective Palatal Flap</li>
												<li>Grafting colour compromised implant area</li>
												<li>Socket preservation using muco gingival grafts • Large connective tissue graft</li>
												<li>Management of sutures</li>
											</ul>

											<div class="program-step__notice">
												<p>Participants are encouraged to bring their<br>loupes to surgical hands-on.</p>
											</div>
										</div>
										<div class="program-step__gallery">
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- //step -->

								<div class="program-step shadow-block js-program-step-3">

									<div class="program-step__count"><span>03</span>Día</div>

									<div class="program-progress">
										<span class="program-progress__line step-3"></span>
									</div>

									<div class="program-step__wrapper ">
										<div class="program-step__content">
											<h3 class="program-step__title">Workflow for partial and<br> full arch rehabilitation cases:</h3>

											<ul class="program-step__list">
												<li>
													Simple flap movements to correct most<br> of tissue defect for implant placement
													<ul>
														<li>Roll “S” flap</li>
														<li>Doble Roll “S” flap</li>
														<li>Roll “S” flap extended</li>
														<li>Roll “S” flap spitted periosteum for bone graft</li>
													</ul>
												</li>
												<li>Handling of the anatomical temporary for tissue grafting</li>
												<li>Handling of temporary for tissue conditioning</li>
												<li>Impression Execution</li>
												<li>Excel Laboratory communication</li>
												<li>Gingival impression Index</li>
												<li>
													Gingival impression Index
													<ul>
														<li>"how to perfect lab transfer the anatomy<br> of conditioned tissue to cast"</li>
													</ul>
												</li>
												<li>
													Gingival Conditioning Cast
													<ul>
														<li>"How to predictable change the soft tissue contour, shape ovate pontic and emergence profile on partial and full arch"</li>
													</ul>
												</li>
											</ul>
										</div>
										<div class="program-step__gallery">
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
											<div class="program-step__gallery--item">
												<a href="img/program/1.png" data-fancybox="program-1" class="thumbnail">
													<img src="img/program/1.png" alt="">
												</a>
											</div>
										</div>
									</div>
								</div>
								<!-- //step -->
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //sect program -->

				<section class="sect__form-gallery">
					<div class="container">
						<div class="form-gallery">
							<div class="form-gallery__row row align-vertical-start">
								<div class="form-gallery__title-col">
									<h2 class="sect-title sect-title-sm"><span class="accent-color">Titular sobre</span> la experiencia<br> que las personas obtienen<br> en la conferencia.</h2>
									<div class="form-gallery__title-img">
										<img src="img/img-2.png" alt="">

										<span class="decor-square decor-square-lg"></span>
									</div>
								</div>

								<div class="form-gallery__img-col ">
									<img src="img/img-3.png" alt="" class="shadow-block">

									<span class="decor-square decor-square-md"></span>
								</div>
							</div>

							<div class="form-gallery__form">
								<h3 class="form-title">Deja tus contactos y te<br>contactaremos a la brevedad</h3>
								<div class="form__wrapper shadow-block">

									<form class="form">
										<!-- Hidden inputs -->
										<input type="hidden" name="project_name" value="Curso Ricardo Kern">
										<input type="hidden" name="admin_email" value="email@email">
										<!-- // Hidden inputs -->

										<div class="form__row row row-nowrap">
											<div class="form-groups col-w-75">
												<div class="form-group">
													<input type="text" placeholder="Nombre" name="name" class="form-input js-required-input">
												</div>
												<div class="form-group">
													<input type="tel" placeholder="Teléfono" name="tel" class="form-input js-required-input">
												</div>
												<div class="form-group">
													<input type="email" placeholder="e-mail" name="email" class="form-input">
												</div>
											</div>
											<div class="form-submit col-w-25">
												<button type="submit" class="btn">Enviar</button>
											</div>
										</div>
									</form>
								</div>

								<div class="form-gallery__form-img bg" style="background-image: url('img/img-3.png'); ">
									<span class="decor-square"></span>
								</div>
							</div>
							
						</div>


					</div>
					<!-- //container -->
				</section>
				<!-- //sect form -->

				<section class="sect__gallery gutter-bottom">
					<h2 class="sect-title text-center container">¿Cómo fueron nuestros<br> eventos pasados?</h2>
					<div class="container">
						<div class="gallery">

							<div class="gallery__row row">

								<div class="gallery__col">
									<div class="gallery-item__wrapper col-w-100">
										<div class="gallery-item thumbnail b-7-90-90-90">
											<img src="img/img.png" alt="">
										</div>
									</div>

									<div class="gallery-item__wrapper col-w-50">
										<div class="gallery-item thumbnail b-90-90-90-7">
											<img src="img/img-2.png" alt="">
										</div>
									</div>

									<div class="gallery-item__wrapper col-w-50">
										<div class="gallery-item thumbnail b-60">
											<img src="img/img-3.png" alt="">
										</div>
									</div>
								</div>

								<div class="gallery__col">

									<div class="gallery-item__wrapper col-w-100">
										<div class="gallery-item thumbnail b-60-7-60-60">
											<img src="img/img-2.png" alt="">
										</div>
									</div>

									<div class="gallery-item__wrapper col-w-100">
										<div class="gallery-item thumbnail b-60-7-60-7">
											<img src="img/img.png" alt="">
										</div>
									</div>

									<div class="gallery-item__wrapper col-w-100">
										<div class="gallery-item thumbnail b-60-60-7-60">
											<img src="img/img-3.png" alt="">
										</div>
									</div>
								</div>

								<div class="gallery__col">

									<div class="gallery-item__wrapper col-w-100">
										<div class="gallery-item thumbnail b-60">
											<img src="img/img-3.png" alt="">
										</div>
									</div>
								</div>

								<div class="gallery__col">

									<div class="gallery-item__wrapper col-w-100">
										<div class="gallery-item thumbnail b-7-90-90-90">
											<img src="img/img-2.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>

				<!-- //sect gallery -->


				<section class="sect__prices gutter-bottom">
					<div class="container">
						<div class="prices">
							<div class="row prices__row align-horisontal-between">
								<div class="prices__col">
									<h2 class="sect-title">Precio</h2>

									<div class="price-block">
										<h3 class="price-block__title shadow-block">Estándar</h3>

										<div class="price-block__content">
											<ul>
												<li>artículo incluido</li>
												<li>artículo incluido</li>
												<li>artículo incluido</li>
												<li>artículo incluido</li>
												<li>artículo incluido</li>
											</ul>
											<p class="price">2.000$</p>
										</div>

										<div>
											<span class="decor-square"></span>
											<span class="decor-square decor-square-md"></span>
											<span class="decor-square"></span>
										</div>
									</div>
								</div>
								<div class="contacts__col">
									<h2 class="sect-title">Nombre del lugar:</h2>

									<div class="contacts-block shadow-block">

										<h3 class="price-block__title shadow-block">Nombre del lugar</h3>

										<div class="contacts-block__content">
											<div class="contacts-block__img bg" style="background-image: url('img/img.png');"></div>

											<div class="contacts-block__information">
												<div class="row align-horisontal-start">
													<div class="contacts-block__information--col">
														<p class="contacts-block__information--col_label">Fecha:</p>
														<p class="contacts-block__information--col_value">10 Diciembre</p>
													</div>
													<div class="contacts-block__information--col">
														<p class="contacts-block__information--col_label">Ciudad:</p>
														<p class="contacts-block__information--col_value">EN TIJUANA</p>
													</div>
												</div>
												<p>Breve descripción adicional</p>
											</div>
										</div>


										
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>


			</main>
			<!-- //Main -->

			<!-- Footer -->
			{% include '../parts/sections/footer.html' %}
			<!-- //Footer -->

		</div>
		<!-- //CONTENT WRAPPER -->

		{% include '../parts/scripts.html' %}

	</body>

	</html>