{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo">
				<div class="container">
					<div class="promo-block">
						<div class="promo-block__content">
							<div class="city">
								<span class="city__ic"></span>
								<span>EN TIJUANA</span>
							</div>

							<h1 class="title"><i>CURSO RICARDO KERN</i> <span class="accent-color">TEJIDO</span> BLANDO<br>Y AUMENTO OSEO</h1>

							<div class="form__wrapper">
								<form class="form">
									<!-- Hidden inputs -->
									<input type="hidden" name="project_name" value="Curso Ricardo Kern">
									<input type="hidden" name="admin_email" value="email@email">
									<!-- // Hidden inputs -->

									<div class="form__row row row-nowrap">
										<div class="form-groups">
											<div class="form-group">
												<input type="text" placeholder="Nombre" name="name" class="form-input js-required-input">
											</div>
											<div class="form-group">
												<input type="tel" placeholder="Teléfono" name="tel" class="form-input js-required-input">
											</div>
										</div>
										<div class="form-submit">
											<button type="submit" class="btn">Enviar</button>
										</div>
									</div>
								</form>
							</div>

							<div class="course-info">
								<div class="course-info__item">
									<p class="course-info__item--label">La fecha del:</p>
									<p class="course-info__item--value">10 Diciembre</p>
								</div>

								<div class="course-info__item">
									<p class="course-info__item--label">Nombre del lugar:</p>
									<p class="course-info__item--value">Nombre del lugar</p>
								</div>
							</div>
						</div>
						<div class="promo-block__imgs">

							<div>
								<img src="img/promo/1.png" alt="" class="promo-block__imgs-img">
								<img src="img/promo/2.png" alt="" class="promo-block__imgs-img">
								<img src="img/promo/3.png" alt="" class="promo-block__imgs-img">
							</div>

							<div class="promo-block__imgs-main">
								<img src="img/main.png" alt="">
							</div>

							<div>
								<span class="decor-square"></span>
								<span class="decor-square"></span>
								<span class="decor-square"></span>
							</div>

							
							
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //promo -->

			<section class="sect__speaker">
				<div class="container">
					<div class="speaker">
						<div class="row align-horisontal-betwee align-vertical-start speaker__row row-nowrap">
							<div class="speaker-information">
								<h2 class="sect-uptitle">Vocero</h2>
								<h3 class="sect-title">RICARDO KERN</h3>

								<ul class="speaker-information__list">
									<li>Firmemente arraigado en las altas exigencias estéticas de la odontología brasileña, el Dr. Ricardo Kern ha centrado su trabajo en las exigentes disciplinas de diseño y reconstrucción de tejido blando.</li>
									<li>Cuenta con amplia experiencia en colocación de implantes con temporización y rehabilitación de un solo diente hasta arco completo. </li>
									<li>Ha sido invitado a dar conferencias sobre tejido blando (diseño, preservación y reconstrucción) en varios cursos de posgrado y congresos tanto en Latinoamérica como Europa.</li>
									<li>Graduado de la Universidade Federale do Paraná, Brasil</li>
									<li>Posgrado en Odontología Implantar por la Asociación Dental de Brasil (ADO)</li>
									<li>Periodoncia (540 horas) por la Asociación Dental de Brasil (ADO)</li>
								</ul>
							</div>
							<div class="speaker-photos">
								<div class="speaker-photo">
									<img src="img/img.png" alt="">
								</div>
								<div class="speaker-photo">
									<img src="img/img.png" alt="">
								</div>
								<div class="speaker-photo">
									<img src="img/img.png" alt="">
								</div>
							</div>
						</div>
					</div>

					<div class="speaker-form">

						<div class="speaker-form__content">
							<h3 class="speaker-form__title"><span class="accent-color">¿Quieres</span> aprovechar toda la experiencia adquirida por el médico Rikardo Kern?</h3>
							<p class="speaker-form__text">Deja tus contactos y te <br>contactaremos a la brevedad</p>

							<div class="form__wrapper">
								<form class="form">
									<!-- Hidden inputs -->
									<input type="hidden" name="project_name" value="Curso Ricardo Kern">
									<input type="hidden" name="admin_email" value="email@email">
									<!-- // Hidden inputs -->

									<div class="form__row row row-nowrap">
										<div class="form-groups">
											<div class="form-group">
												<input type="text" placeholder="Nombre" name="name" class="form-input js-required-input">
											</div>
											<div class="form-group">
												<input type="tel" placeholder="Teléfono" name="tel" class="form-input js-required-input">
											</div>
											<div class="form-group">
												<input type="email" placeholder="e-mail" name="email" class="form-input">
											</div>
										</div>
										<div class="form-submit">
											<button type="submit" class="btn">Enviar</button>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="speaker-form__imgs">
							<div class="speaker-form__imgs-main">
								<img src="img/illustration.svg" alt="">
							</div>

							<div>
								<span class="decor-square"></span>
								<span class="decor-square"></span>
								<span class="decor-square"></span>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->

				<div class="grad"></div>
			</section>
			<!-- //sect speaker -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>