<nav class="nav">
	<ul class="nav__list">
		<li class="nav__item"><a href="#" class="nav__link js-smooth-scroll-link">Alto falante</a></li>
		<li class="nav__item"><a href="#" class="nav__link js-smooth-scroll-link">Exemplos de trabalho</a></li>
		<li class="nav__item"><a href="#" class="nav__link js-smooth-scroll-link">Programa</a></li>
		<li class="nav__item"><a href="#" class="nav__link js-smooth-scroll-link">Nossos eventos passados</a></li>
		<li class="nav__item"><a href="#" class="nav__link js-smooth-scroll-link">Preço</a></li>
	</ul>
</nav>
