<nav class="nav js-menu">
	<button class="btn-close js-close-menu-btn" type="button">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve">
			<path d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
			c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
			l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
			c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
		</svg>
	</button>

	<ul class="nav__list">
		<li class="nav__item"><a href="#speaker" class="nav__link js-smooth-scroll-link">Alto falante</a></li>
		<li class="nav__item"><a href="#portfolio" class="nav__link js-smooth-scroll-link">Exemplos de trabalho</a></li>
		<li class="nav__item"><a href="#program" class="nav__link js-smooth-scroll-link">Programa</a></li>
		<li class="nav__item"><a href="#gallery" class="nav__link js-smooth-scroll-link">Nossos eventos passados</a></li>
		<li class="nav__item"><a href="#prices" class="nav__link js-smooth-scroll-link">Preço</a></li>
	</ul>


	<div class="nav-contacts">
		<p><a href="#">+38 000 000 00 00</a></p>
		<p><a href="#">+38 000 000 00 00</a></p>
		<p><a href="#">dentalex@gmail.com</a></p>
	</div>
</nav>
