.nav
	&__item
		display inline-block
		margin-right 36px
		&:last-child
			margin-right 0
	&__link
		display block
		color $text-color
		&:hover
			color $accent-color
			
	&-contacts
		display none
		margin-top 80px
		a
			font 14px $Med
			color $basic-white-color
		p
			margin-bottom 22px
			&:last-child
				margin-bottom 0