<footer class="footer">
	<div class="container">
		<div class="footer__row row align-horisontal-between align-vertical-center row-gutters">
			<div class="col-gutters footer__col">
				<span class="logo">
					<img src="img/logo-footer.svg" alt="">
				</span>
			</div>

			<div class="col-gutters footer__col">
				<a href="mailto:dentalex@gmail.com">dentalex@gmail.com</a>
			</div>
			<div class="col-gutters footer__col">
				<a href="tel:">+38 000 000 00 00</a>
			</div>
			<div class="col-gutters footer__col">
				<a href="tel:">+38 000 000 00 00</a>
			</div>

			<div class="col-gutters footer__col">

				<a href="#" class="developed" target="_blank" rel="nofollow">
					<img src="img/developer.svg" alt="Grytsay">
					<span>Powered by</span>
				</a>
			</div>
		</div>
	</div>
	<!-- //container -->
</footer>
