.disable-hover,
.disable-hover * 
	pointer-events none !important

.gutters
	padding $gutters
	
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%

.sect-title
	font 50px $SemiBold
	margin-bottom 75px
	color $dark-text-color
	&-sm
		font-size 35px
		
	
.sect-uptitle
	color $accent-color
	font 26px $SemiBold
	margin-bottom 20px
	

.sect-title,
.sect-uptitle
	span
		display inline-block
		transform translateY(-7px)
		opacity 0
		will-change transform
		transition all .23s ease-in-out
	&.is-animated
		span
			opacity 1
			transform translateY(0)

		
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.basic-white-color
	color $basic-white-color

.basic-black-color
	color $basic-black-color
	
.light-text-color
	color $light-text-color
	
.dark-text-color
	color $dark-text-color
	
.accent-color
	color $accent-color
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	
.bg
	bg(50%, 50%)
	
.bg-with-overlay
	position relative
	bg(50%, 50%)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($bg-overlay-color, $bg-overlay-opacity)
	.container
		position relative
		z-index 2
		
.shadow-block
	box-shadow 6px 11px 23px rgba(0, 0, 0, 0.08)
		
.color-bg
	background-color $color-bg
	
.visually-hidden
	position absolute
	clip rect(0 0 0 0)
	width 1px
	height 1px
	margin -1px
	z-index -999
	opacity 0
	visiiblity hidden
	
.thumbnail
	position relative
	overflow hidden
	width 100%
	padding-top 50%
	display block
	img
		display block
		position absolute
		position-center()
		width 100%
		height 100%
		object-fit cover
		

.b
	&-60
		border-radius 60px
	&-90
		border-radius 90px
	&-7-90-90-90
		border-radius 7px 90px 90px 90px
	&-60-7-60-60
		border-radius 90px 7px 90px 90px
	&-60-60-7-60
		border-radius 90px 90px 7px 90px
	&-60-60-60-7,
	&-90-90-90-7
		border-radius 90px 90px 90px 7px
	&-60-7-60-7
		border-radius 90px 7px 90px 7px
	

.content
	*
		&:last-child
			margin-bottom 0
			
	h2,h3,h3,h4,h5,h6
		line-height 1
		font-family $Bold
		
	strong, b
		font-family $Bold
		

	ul, ol
		li
			display block
			position relative
			margin-bottom 10px
			
			&:last-child
				margin-bottom 0
				
	ul
		li
			&:before
				pseudo()
				width 4px
				height 4px
				border-radius 50%
				margin-right 4px
				background-color $text-color
				
	ol
		counter-reset list
		li
			&:before
				counter-increment list
				content counter(list) ". "
				display inline-block
				margin-right 4px

