//  Fonts 

$Med = 'Montserrat-Medium', Arial, sans-serif
$Bold = 'Montserrat-Bold', Arial, sans-serif
$SemiBold = 'Montserrat-SemiBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Med
$body-font-size = 16px
$body-line-height = 1.3

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 145px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #2746cf
$secondary-color = #ebf0f5

$text-color = #27537a
$dark-text-color = #12385c

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff
$header-bg = #a2a2a2
$footer-bg = #ebf0f5

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========