// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+min-screen(1830px)
	.sect__speaker
		&:before
			width 100%
			height 100%
			background-size contain
			
	.sect__prices
		&:before
			width 100%
			height 1150px
			background-size auto